@{
    ViewData["Title"] = "Idex";
}


<h1>Index</h1>
<h2>Masedi Project runing <a href="/Employee" target="_blank">Click Here</a></h2>
<h2>For my link project with PgAdmin and Raizer view  <a href="https://github.com/Bodikwa/DHCConsultationProject.git" target="_blank">Click Here</a></h2>

